@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

<div class="details">

    <h1>Welcome to WeatherStats!</h1>

    <p>
        About us:
    </p>
    <p>
        WeatherStats is a website created for uploading and retrieving weather data.
    </p>
</div>